.asset-container > p {
    color: white;
}

.asset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}

.asset-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: 25vh;
    width: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.asset-image-box {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    width: 25vh;
    /* margin: 2vw; */
    padding: 7px;
    text-decoration: none;
}

.asset-text > img {
    padding: 5px;
    border-radius: 5%;
}


.booking-calendar-container {

    align-items: right;
    color: white;
    height: 50vh;
    width: 50vh;
    /* border-radius: 100px; */
}

.asset-left-column {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}