.asset-container > p {
    color: white;
}

.asset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;

}

.asset-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: 50vh;
    
}

.asset-text > img {
    padding: 5px;
    border-radius: 5%;
}


.booking-calendar-container {
    align-items: right;
    color: white;
    /* border-radius: 100px; */
}
