.main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
}

.booking-confirm {

    max-width: fit-content;
    align-self: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

.booking-img {

    max-height: 400px;
    max-width: auto;

}

.generic-centre-row {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y:auto;
}