.navbar-container {

    display: inline-block;
    flex-direction: row;
    justify-content:space-around;

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 5vh;
    width: 60vw;
    margin: 5vh;
    padding: 0vh 1vw 0vh 1vw;

}

.navbar-right-cluster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.navbar a {

    font-weight: 700;
    font-size: large;
    color: black;
    text-decoration: none;
    margin: 0vh 1vw 0vh 1vw;
}

.navbar a:hover {
    margin-bottom: 7px;
}

.logo {

padding: none;
display: inline-block;
width: 250px;
height: 250px;
text-indent: none;
white-space: nowrap;
/* margin:0 auto; */
float: left;
}

