.panel {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 25px;

    color: black;
}

.panel-text {
    background-color: rgba(255, 255, 255, 0.2);
    /* border: none; */
    border-radius: 20px;
    height: 1.3em;
    margin: 5px;
    width: 80%;
    border: solid black 1px;
}

.panel-dropdown {

    width: 90%;
    height: 1.5em;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}