/* .user-form {
    margin: 20px;
  padding: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: rgb(187, 121, 121);
} */

.user-form {

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  min-width: 70vw; */
  width: 300px;
  justify-content: center;
  margin-left: 400px;
  
 
}

/* input[type=text] {
  padding: 15px;
  margin: 10px;
  margin-left: 60px;
  border:10; 
  border-bottom:1px solid #eee; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 100px;
  
  
} */

button {
  appearance: none;
  -webkit-appearance: none;
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:10px;
  width:80%;
  margin: 15px;
  margin-left: 30px;

  
}

h2 {
  border: none;
  margin-left: 90px;
}



.edit-form {

  display: flex;
  flex-direction: row;
  justify-content: center;
 
  width: 70vw;
  min-width: 70vw;
  
}
