.App {
  text-align: center;
<<<<<<< HEAD
}

.user-form {
  margin-top: 0;
  margin-bottom: 0;
  background: #75cff0;
  color: white;
  padding-left: 1em;
  border: 1px solid red;
  border: none;
  background-color: red;
=======
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  z-index: 1;
  background-color: #696969;
  background-size: cover;
>>>>>>> origin/feature/inventory
}