.App {
  text-align: center;
}

.user-form {
  margin-top: 0;
  margin-bottom: 0;
  background: #75cff0;
  color: white;
  padding-left: 1em;
  border: 1px solid red;
  border: none;
  background-color: red;
}